@define-color base00 #1F1F28;
@define-color base01 #2A2A37;
@define-color base02 #223249;
@define-color base03 #727169;
@define-color base04 #C8C093;
@define-color base05 #DCD7BA;
@define-color base06 #938AA9;
@define-color base07 #363646;
@define-color base08 #C34043;
@define-color base09 #FFA066;
@define-color base0A #DCA561;
@define-color base0B #98BB6C;
@define-color base0C #7FB4CA;
@define-color base0D #7E9CD8;
@define-color base0E #957FB8;
@define-color base0F #D27E99;
@define-color bg rgba(40, 40, 40, 0.90);
@define-color accentDim rgba(142, 192, 124, 0.35);

* {
  font-family: "IBM Plex Mono", "Symbols Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

#waybar {
  background-color: @base00;
  color: @base05;
}

button {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
  border: none;
}

button:hover {
  box-shadow: none; /* Remove predefined box-shadow */
  text-shadow: none; /* Remove predefined text-shadow */
  background: none; /* Remove predefined background color (white) */
  transition: none; /* Disable predefined animations */
  border: none;
}

tooltip {
  padding: 0;
  margin: 0;
  background-color: @bg;
  color: @base05;
  border-width: 0px;
  border-color: @base0C;
  border-radius: 8px;
}

tooltip label {
  padding: 0;
  margin: 0;
  background-color: inherit;
  color: @base05;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: @base00;
  border-radius: 0;
  margin: 0px 5px;
}

#taskbar button {
  padding-left: 6px;
  padding-right: 3px;
  margin: 2px;
  background-color: @base01;
}
