window {
  background-image: url("/tmp/current.bg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: inherit;
}

#window-box {
	padding: 64px;
	border: 1px solid black;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.5) 4px 4px 12px;
    background-color: #1F1F28;
}
